/* 스마트폰 (가로 및 세로) ----------- */
@media (max-device-width: 768px) and (max-width: 768px) {
  body {
    width: 100vw;
    margin: 0px;
  }
  .content1box {
    margin: 0px 10px 0px 10px;
  }
  .content1ul {
    font-size: 11px;
  }
  .footertext {
    font-size: 10px;
  }
}

body {
  background-color: #f8f3e7;
  width: 100vw;
  margin: 0px;
}

/*header*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header a {
  text-decoration: none;
  padding: 0px;
  margin: 3% 3% 0% 3%;
  display: flex;
  justify-content: center;
}
.headerimg {
  width: 55%;
  height: 55%;
  margin: 3% 0% 0% 0%;
}
.menubox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid black;
}
.menubox a {
  width: 20%;
  text-decoration: none;
  padding: 10px;
  margin: 2% 0px 0px 0px;
  color: black;
  font-size: 1.8rem;
  text-align: center;
}
.menubox a:hover {
  box-shadow: 0px 5px 0px 0px gray;
}
/*header*/

.infoimgbox {
  width: 100%;
  margin: 3% 0% 0% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoimg {
  width: 80%;
}

/*푸터 위의 인증마크들..*/
.upfooterimg {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2% 0px 2% 0px;
}
.upfooterimg img {
  width: 20%;
  height: 20%;
}
/*푸터 위의 인증마크들..*/

/*footer*/
.footer {
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.footertext {
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 2% 0px 2% 0px;
  line-height: 2rem;
  font-size: 1.2rem;
}
/*footer*/
